/* --------------------------- GLOBAL STYLES --------------------------- */

.contentwrap {
  /* background-color: lightblue; */
  display: block;
  margin-top: 12%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  font-family: Helvetica;
  font-weight: lighter;
  margin-left: 0%;
  margin-right: -0.10%;
}

h1 {
  font-size: 35px;
}

h2 {
  font-weight: normal;
  color: grey;
  font-size: 25px;
}

h3 {
  font-weight: lighter;
  color: black;
  font-size: 15px;
}

ul {
  padding-left: 5%;
}

li {
  /* font-size: 15px; */
  font-weight: lighter;
  margin-top: 1%;
}

p {
  margin: 0.25%;
}

.blue {
  color: lightblue;
  font-weight: normal;
}

.grey {
  color: grey;
  font-weight: normal;
}

.footer {
  width: 96%;
  padding: 2%;
  background-color: #2b2d2f;
  color: white;
  font-size: 15px;
  text-align: center;
  float: left;
}


/* --------------------------- TITLE * NAVBAR --------------------------- */

header {
  position: fixed;
  width: 100%;
  top: 0;
  height: auto;
  margin-left: 0%;
  background-color: #CCD6DE;
  /* background-color: #C8E0F1; */
  /* background-color: #2b2d2f;
  /* background: rgba(255, 255, 255, .5); */
  /* background: linear-gradient(rgba(82, 105, 148, 1),rgba(255,0,0,0)); */
}

#title, #logo {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 8%;
  padding-left: 5%;
  float: left;
}

.navbar {
  width: 35%;
  text-align: right;
}

ul.navbar {
  margin-top: 5%;
  margin-right: 5%;
  float: right;
  list-style-type: none;
}

.navbar li {
  display: inline;
  text-align: left;
  margin-left: 5%;
}

a.navLink {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* --------------------------- ABOUT PAGE --------------------------- */

#about {
  width: 100%;
  /* padding-top: 11%; */
  margin-left: 0%;
  overflow: auto;
}

#aboutContentContainer {
  width: 63%;
  float: left;
}

#photosContainer {
  width: 35%;
  float: right;
  overflow: hidden;
}

#objective {
  font-weight: bold;
}

#objective2 {
  color: black;
}

#textColor {
  color: #A6D1FA;
}

#thoughtsList {
  margin-top: 0;
  margin-left: -2%;
}

.experience_icons {
  width: 20%;
  float: left;
  padding-right: 5%;
}

/* --------------------------- ABOUT PAGE (RIGHT CONTAINER) --------------------------- */

#profilePic {
  float: left;
  width: 70%;
  display: block;
  margin-left: 5%;
}

#aboutPic1, #aboutPic2, #aboutPic3, #aboutPic4, #aboutPic5, #aboutPic6, #aboutPic7, #aboutPic8 {
  float: left;
  display: block;
  margin-top: -5%;
}

#aboutPic1 {
  width: 30%;
  margin-left:60%;
}

#aboutPic2 {
  width: 45%;
  margin-left: 20%;
  /* margin-top: -70%; */
}

#aboutPic3 {
  width: 45%;
  margin-left: 55%;
}

#aboutPic4 {
  width: 40%;
  margin-left: 15%;
}

#aboutPic5 {
  width: 35%;
  margin-left: 60%;
}

#aboutPic6 {
  width: 40%;
  margin-left: 15%;
}

#aboutPic7 {
  width: 35%;
  margin-left: 60%;
}

#aboutPic8 {
  width: 40%;
  margin-left: 10%;
}

#profilePic {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}


/* --------------------------- ABOUT PAGE - RESUME --------------------------- */


#resume {
  width: 100%;
  background-color: #2b2d2f;
  overflow: auto;
  color: white;
}

#resumeButton {
  border: 1px solid white;
  color: #2b2d2f;
  text-decoration: none;
  text-align: center;
  padding: 2.5%;
  width: 25%;
  background-color: white;
  display: block;
  border-radius: 8px;
}

#resume1, #resume2, #resume3, #resume4 {
  width: 20%;
  float: left;
  margin-left: 2%;
  /* border-right: 1px solid white; */
}

#resume1 {
  margin-left: 5%;
}

#name, #education, #skills, #softwareandlanguages, .experience, #awards, #socials {
  margin-top: 15%;
}

.socialLinks {
  color: lightblue;
}

.experienceEntry {
  margin-top: 5%;
}

.resumeList {
  list-style-type: none;
  margin-left: -5%;
  margin-top: 0%;
}


/* --------------------------- RESEARCH PAGE --------------------------- */

.SectionTitles {
  width: 100%;
  display: block;
}

.ResearchSection {
  width: 100%;
  display: flex;
}

.Project_Preview {
  width: 100%;
}

.ProjectBox {
  width: 30%;
  margin-right: 3%;
}

#ProjectBox_Papers{
  border: 1px solid orange;
  padding: 1%;
}

/* --------------------------- DESIGN & STRATEGY PAGE --------------------------- */

.dsSection {
  width: 100%;
}

#SPEAKeasyBox, #FoodSaviorBox {
  width: 100%;
  display: flex;
}

.ProjectPreview_Box {
  width: 40%;
}

#ProjectPreview_SPEAKeasy, #ProjectPreview_FoodSavior {
  width: 100%;
}

#SPEAKeasyPhoto {
  margin: 2.5%;
  margin-top: 0;
  width: 15%;
}

#homegif {
  width: 100%;
}

#text_SPEAKeasy{
  width: 40%;
}

#text_FoodSavior {
  width: 57.5%;
  margin-left: 2.5%;
}

#StrategySection {
  width: 100%;
  display: flex;
}
